<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>

    <header>
        <h1>benvenuto in FIND YOUR COURSES</h1>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ratione esse, similique id deserunt, sint accusantium tenetur incidunt repellendus debitis velit inventore? Architecto sunt laudantium laborum voluptatum, impedit eligendi corporis doloremque incidunt magnam consequuntur nemo quidem mollitia rerum vero nisi vel voluptas non repellat possimus perferendis cum sed repudiandae optio.</p>
    </main>
    
    
</body>
</html>